.screen {
    height: 5rem;
    width: 80%;
    background-color: #ffffffCC;
    border: 2px solid #ffffff;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
}
.text{
    color: #000;
    font-size: 32px;
    width: 92%;
    text-align: end;
}