* {
  margin: 0 auto;
  padding: 0;
}
.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #003DFF;
  background: linear-gradient(90deg, #003DFF 0%, #00A8FF 49%, #003DFF 100%);
}